* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    background-color: black;
}

.container .heading {
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
    font-family: fantasy;
    text-shadow: 0.5rem 1 #000;
    color: #fff;
}

.container .music-container {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.container .music-container .box {
    height: 20rem;
    width: 80%;
    display: flex;
    align-items: center;
    background: #f6f6f6;
    border-radius: 1rem;
    box-shadow: 0.5rem 1rem #454545;
    overflow: hidden;
    margin: 2rem;
}

.container .music-container .box .img {
    height: 100%;
    width: 30%;
}

.container .music-container .box .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .music-container .box .music {
    width: 70%;
}

.container .music-container .box .music audio {
    width: 100%;
    outline: none;
}

.container .music-container .box .music audio::-webkit-media-controls-eclosure {
    background: none;
}

@media(max-width:600px) {
    .container .music-container .box {

        width: 90%;
        flex-flow: column;
    }

    .container .music-container .box .img {
        height: 73%;
        width: 100%;
    }

    .container .music-container .box .music {
        margin-top: 10px;
        height: 25%;
        width: 100%;
    }

}